body { 
    color: white;
    text-align: center;
    background-color: black;
    font-size: large;
}

p {
    border: 2px solid rgb(255, 255, 255);
    width: 20%;
    margin: auto;
    text-align: justify;
    padding: 1%;
}